extends layout

block content
  p Please log in. We  only have access to your name and facebook id number. We do not collect  sensitive information such as email addresses.
  a(href='/auth/facebook') Sign in with Facebook
